.totalText {
  font-size: var(--base-font-size);
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--color-light-dark);
  @media (min-width: 1280px) {
    text-align: left;
  }
}