.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.preloadImages {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    background-image: url('../../images/button-hover.png'),
    url('../../images/button-selected.png'),
    url('../../images/button-correct.png'),
    url('../../images/button-wrong.png');
  }
}
