@import './common/colors.css';
@import './common/typography.css';
@import './common/spacing.css';

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--color-light);
  font-family: var(--font-inter), sans-serif;
  color: var(--color-dark);
  line-height: 1.15;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  height: 100svh;
  position: relative;
  overflow: hidden;
  padding: 48px var(--base-spacing);
  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 32px;
  }
}

.hand {
  animation: fadeIn 0.5s ease-in-out;
  @media (min-width: 1280px) {
    zoom: 2.2;
    animation: fadeInSlideLeft 1s ease-in-out;
  }
}

.text {
  max-width: 100%;
  @media (min-width: 1280px) {
    min-width: 624px;
  }
}

.title {
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: 600;
  margin-bottom: 100px;
  animation: fadeIn 0.5s ease-in-out;
  @media (min-width: 1280px) {
    text-align: left;
    margin-bottom: 64px;
    animation: fadeInSlideRight 1s ease-in-out;
  }
}

.buttonPrimary {
  display: block;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
  width: 296px;
  max-width: 100%;
  height: 64px;
  border: none;
  cursor: pointer;
  color: var(--color-light);
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
  transition: background-color 0.3s ease;
  @media (min-width: 1280px) {
    border-radius: 12px;
    animation: fadeInSlideRight 1s ease-in-out;
  }
  &:hover {
    background-color: var(--color-primary-hover);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
