.containerBg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top left, var(--color-primary-bg) 50%, transparent 50%);
}

.text {
  @media (min-width: 1280px) {
    min-width: 624px;
  }
}

.preloadImages {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    background-image: url('../images/button-inactive.png'),
    url('../images/button-hover.png'),
    url('../images/button-selected.png'),
    url('../images/button-correct.png'),
    url('../images/button-wrong.png');
  }
}