.containerBg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top left, var(--color-primary-bg) 50%, transparent 50%);
}

.text {
  @media (min-width: 1280px) {
    min-width: 624px;
  }
}